.button a {
  color: white;
}

.jumbotron {
  background-image: url("https://i.imgur.com/gkrEZ5Z.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 600px;
}

.button {
  width: 200px;
  position: relative;
  top: 420px;
}

.btn-circle {
  width: 300px;
}
